* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

#addCity {
  padding: 10px 20px;
  color: blue;
  border: 2px solid black;
  text-decoration: none;
}

#cityInput {
  border: 2px solid black;
  margin-right: 1rem;
  padding: 10px 20px;
}

#weatherApp {
  text-align: center;
  padding: 20px;
  display: table-caption;
  justify-content: center;
    align-items: center;
}

#weatherContainer {
  flex-wrap: wrap;
  margin: 2rem;
}

.weatherCard {
  margin-bottom: 10px;
  padding: 2rem;
  margin: 0.7rem;
  border: 2px solid black;
  transition: 0.8s;
}

.weatherCard:hover {
  border: 2px solid blue;
}